.cardNumGerais{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.cardSaldo{
    height: 200px;
    width: 100%;
    min-width: 150px;
    max-width: 70vw;
    margin: 20px;
    padding: 20px;
    background: #423DCC;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #000;
}

.saldoContaTxt{
    font-size: 3rem;
}

.cardGanho{
    min-width: 100px;
    min-height: 200px;
    
    margin: 20px;
    padding: 20px;
    background: #423DCC;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #000;
}

.cardGanhoGanho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}



.saldoGanhoTxt{
    font-size: 3rem;
}