.btn-primary{
    background-color: #423DCC;
    font-size: 16px;
    margin-top: 10px;
}

.btn-primary:hover{
    background-color: #F2F2F2;
    color: black;
}

.btn-secondary{
    background-color: #100126;
    font-size: 16px;
    margin-top: 10px;
}

.btn-secondary:hover{
    background-color: #F2F2F2;
    color: black;
}