.cardNumGerais{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
}

.cardNumGerais .col-sm{
    position: relative;
    margin: 10px 0px;
    padding: 10px;
}

.cardSaldo{
    min-width: 150px;
    max-width: 100%;
    background: #423DCC;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #000;
}

.cardSaldoSaldo{
    margin-bottom: 20px;
}

.saldoContaTxt{
    font-size: 3rem;
}

.cardGanho{
    min-width: 100px;
    min-height: 200px;
    background: #423DCC;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #000;
}

cardGanhoGanho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}



.saldoGanhoTxt{
    font-size: 3rem;
}

.cardTxtSaldo{
    visibility: hidden;
}

.divResulVendas .col-sm{
    max-width: 100%;
    position: relative;
    margin: 10px 0px;
    text-align: center;
    padding: 10px;
}

@media (min-width: 550px) {
    .cardNumGerais .col-sm{
        margin: 0px 20px;
    }
    .divResulVendas .col-sm{
        margin: 0px 10px;
    }

    .cardSaldoSaldo{
        margin-right: 20px;
    }
  }